.Wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

table {
  position: relative;
  border-collapse: collapse;
  margin: 40px 40px 0px 40px;
  min-width: 500px;
}

tr {
  height: 20px;
}

th {
  border: 1px solid;
}

.ModalWrapper {
  position: absolute;
  left: 550px;
  top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 40px;
  width: 250px;
  height: 300px;
  position: absolute;
  border: solid 3px blueviolet;
  border-radius: 10px;

}

img {
  width: 90%;
  height: 70%;
}

h5 {
  margin-top: 10px;
}

.NewProduct {
  margin-left: 40px;
  width: 180px;
  height: 25px;
}

.Error {
  margin-left: 10px;
  margin-right: 10px;
  color: red;
  float: right;
}

.dontShowModal {
  display: none;
}

form {
  position: relative;
  margin: 10px 40px 0px 40px;
  width:610px;
}

.Name {
  margin-left: 40px;
}

.Price {
  margin-left: 48px;
}

.URL {
  margin-left:53px;
}

.Quantity {
  margin-left: 21px;
}

.ID {
  margin-left: 67px;
}